version: '3.8'

services:
  wolf_server:
    build: .
    image: wolf_prowler:latest
    container_name: wolf_prowler_node
    ports:
      - "3030:3030"
    volumes:
      - wolf_data:/data
      - ./certs:/certs
    environment:
      - RUST_LOG=info
      - WOLF_TLS_CERT=/certs/cert.pem
      - WOLF_TLS_KEY=/certs/key.pem
    restart: unless-stopped

volumes:
  wolf_data: